<div class="tab_item" role="tabpanel" tabindex="1" style="display: block;">


    <div class="grid-row clearfix" style="margin-top:0px;">
        <div class="grid-col grid-col-12">
            <section class="cws-widget">
                <section class="cws_widget_content">
                    <div class="cws-widget callout_widget clearfix ">
                        <div class="content_wrapper">
                            <div class="text_part">
                                <div class="title"><input placeholder="type question..." ng-model="searchingByName" style="width: 100%"></div>

                            </div>
                            <div class="button_part">
                                <a class="cws_button large square custom_color" style="background:#8ddd67; color:#fff;" ng-click="addQ()">Add new quiz</a></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div><br>

    <div ng-repeat="quiz in quizs | filter:searchingByName">
        <div class="grid-row clearfix" style="margin-top:0px;">
            <div class="grid-col grid-col-12">
                <section class="cws-widget">
                    <section class="cws_widget_content">
                        <div class="cws-widget callout_widget clearfix ">
                            <div class="content_wrapper">
                                <div class="text_part">
                                    <div class="title">{{quiz.Question}}</div>
                                    <div ng-if="quiz.Reponse=='A'">
                                        <input type="radio" checked disabled>{{quiz.Reponses[0]}}<br>
                                        <input type="radio" disabled>{{quiz.Reponses[1]}}<br>
                                        <input type="radio" disabled>{{quiz.Reponses[2]}}
                                    </div>

                                    <div ng-if="quiz.Reponse=='B'">
                                        <input type="radio" disabled>{{quiz.Reponses[0]}}<br>
                                        <input type="radio" checked disabled>{{quiz.Reponses[1]}}<br>
                                        <input type="radio"  disabled>{{quiz.Reponses[2]}}
                                    </div>

                                    <div ng-if="quiz.Reponse=='C'">
                                        <input type="radio" disabled>{{quiz.Reponses[0]}}<br>
                                        <input type="radio" disabled>{{quiz.Reponses[1]}}<br>
                                        <input type="radio" checked disabled>{{quiz.Reponses[2]}}
                                    </div>
                                    <br>
                                    <p>Tag : <b>#{{quiz.tags}}</b></p>
                                </div>
                                <div class="button_part">
                                    <a class="cws_button large" ng-click="updateQuiz(quiz._id)">Update</a><a class="cws_button large custom_color" style="background:#ffdb5e; color:#fff" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="removeQuiz(quiz._id)">Delete</a></div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </div><br>
    </div>


</div>