
<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .top-panel-->
<div class="kids-bg-level-1">
    <div class="bg-level-1"></div>
    <ng-include src="'./layouts/header.view.html'"></ng-include>
    <!-- HEADER END -->
</div>
<!-- .bg-level-1 -->
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1 style="float: left;padding-top: 10px;">Historique</h1>
                    <ng-include src="'./layouts/login.view.html'"></ng-include>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">

    <div class='grid-row clearfix' ng-if="currentUser!=0">
        <div class='grid-col grid-col-12'>
            <section class='cws-widget'>

            <section class='cws-widget' >
                <section class='cws_widget_content accordion_widget'>


                        <div class='accordion_section featured' ng-repeat="h in hisotriques">
                            <div class='accordion_title'><i class='acc_featured_icon fa fa-star'></i>{{h.date}} - {{h.score}}<i class='accordion_icon'></i></div>
                            <div class='accordion_content'>
                                <p ng-repeat="log in h.logs">{{log.questionId | quesByID}}</p>
                            </div>
                        </div>

                </section>

            </section>


        </div>
    </div>
                        <div class='grid-row clearfix' ng-if="currentUser==0">
                            <div class='grid-col grid-col-12'>
                                <section class='cws-widget'>
                        <section class='cws-widget'  >
                            <section class='cws_widget_content accordion_widget'>
                                <div class='accordion_section featured'>
                                    <div class='accordion_title'><i class='acc_featured_icon fa fa-star'></i>You need to be connected to consult your history<i class='accordion_icon'></i></div>
                                    <div class='accordion_content' style='display: none;'>
                                        <div class="form-group" >
                                            <input type="text" placeholder="Pseudo" ng-model="pseudo">
                                            <input placeholder="password" type="password" ng-model="password">
                                            <input type="button" class="cws_button" value="Login" ng-click="doLogin(pseudo,password)">
                                            <input type="button" class="cws_button" value="Sign up"  style="background:#f2a1b0; color:#fff" ng-click="doLogin(pseudo,password)">
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </section>


                            </div>
                        </div>
    <!-- comments block -->
    <!-- //end comments block -->
    </main>
    <div class="kids_clear"></div>
</div>
<!-- .entry-container -->
</div>
<div class="bg-level-2 second-part"></div>
</div>
<!-- ***************** - END Image floating - *************** -->
</section>
<!-- .bottom_content_container -->
</div>
<div class="content_bottom_bg"></div>
</div>
</div>
<!-- .end_content -->
<ng-include src="'./layouts/footer.view.html'"></ng-include>