
<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .top-panel-->
<div class="kids-bg-level-1">
    <div class="bg-level-1"></div>
    <ng-include src="'./layouts/header.view.html'"></ng-include>
    <!-- HEADER END -->
</div>
<!-- .bg-level-1 -->
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="header_container ">
                    <div class="l-page-width">
                        <h1 style="float: left;padding-top: 10px;">Dashboard</h1>
                        <ng-include src="'./layouts/login.view.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">


<div class='grid-row clearfix' style='margin-top:0px;'>
    <div class='grid-col grid-col-12'>
        <section class='cws-widget'>
            <section class='cws_widget_content'>
                <div class="cws-widget callout_widget clearfix ">
                    <div class='content_wrapper'>
                        <center class='text_part'>
<div style="padding-left:300px;">
    <img src="./images/login.png" width="200" height="200"/><br><br>
    <ng-include src="'./layouts/login.view.html'"></ng-include></div>

                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- comments block -->
<!-- //end comments block -->
</main>
<div class="kids_clear"></div>
</div>
<!-- .entry-container -->
</div>
<div class="bg-level-2 second-part"></div>
</div>
<!-- ***************** - END Image floating - *************** -->
</section>
<!-- .bottom_content_container -->
</div>
<div class="content_bottom_bg"></div>
</div>
</div>
<!-- .end_content -->
<ng-include src="'./layouts/footer.view.html'"></ng-include>