
<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .top-panel-->
<div class="kids-bg-level-1">
    <div class="bg-level-1"></div>
    <ng-include src="'./layouts/header.view.html'"></ng-include>
    <!-- HEADER END -->
</div>
<!-- .bg-level-1 -->
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1 style="float: left;padding-top: 10px;">Dashboard</h1>
                    <ng-include src="'./layouts/login.view.html'"></ng-include>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">


                        <div class='grid-row clearfix' style='margin-top:0px;' ng-hide="isBack">
                            <div class='grid-col grid-col-12'>
                                <section class='cws-widget'>
                                    <section class='cws_widget_content'>
                                        <div class="cws-widget callout_widget clearfix ">
                                            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
                                            <script type='text/javascript'>
                                                var Module = {
                                                    TOTAL_MEMORY: 268435456,
                                                    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
                                                    compatibilitycheck: null,
                                                    backgroundColor: "#222C36",
                                                    splashStyle: "Light",
                                                    dataUrl: "Development/UnityFullGame.data",
                                                    codeUrl: "Development/UnityEngine.js",
                                                    asmUrl: "Development/UnityEngine.asm.js",
                                                    memUrl: "Development/UnityEngine.mem",
                                                    dynamicLibraries: ["Development/UnityFullGame.js"],
                                                };
                                            </script>
                                            <script src="Development/UnityLoader.js"></script>
                         </div>
            </section>
            </section>
        </div>
    </div>
                        <div class="message_box alert-box  close" ng-show="doError"><span class="close-box"></span>
                            <div class="message_box_header">Error !</div>
                            <p>Please fill in all the required fields.</p>
                        </div><br>
                        <div class="message_box success-box  close" ng-show="deleted"><span class="close-box"></span>
                            <div class="message_box_header">Success</div>
                            <p>Quiz has been deleted</p>
                        </div><br>
                        <!-- add quiz block -->
                        <div class="grid-col grid-col-12" style="background: blanchedalmond;" ng-show="isBack">
                            <section class="cws-widget">
                                <section class="cws_widget_content">
                                    <div class="cws-widget callout_widget clearfix">
                                        <table>
                                            <tr>
                                                <td>Question</td>
                                                <td><input type="text" ng-model="quiz.Question" style="width:100%"></td>
                                            </tr>
                                            <tr>
                                                <td>Choix</td>
                                                <td>
                                                    <input type="text" ng-model="quiz.Reponses[0]" style="width:100%">
                                                    <input type="text" ng-model="quiz.Reponses[1]" style="width:100%">
                                                    <input type="text" ng-model="quiz.Reponses[2]" style="width:100%">

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Reponse</td>
                                                <td>
                                                    <select style="width:100%" ng-model="quiz.Reponse">
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Tag</td>
                                                <td><input type="text" ng-model="quiz.tags" style="width:100%"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </section>
                            </section>
                            <div class="post-footer">
                                <p ng-click="isBack=false" class="more-link cws_button l-float-right">Back</p>
                                <p ng-click="resetAction()" class="more-link cws_button l-float-right" style="margin-right: 20px">Reset</p>

                                <p ng-click="addQuiz()" class="more-link cws_button l-float-right" ng-if="!quizAction" style="margin-right: 20px">Add Quiz {{doUpdate}}</p>
                                <p ng-click="doUpdateQuiz(quiz._id)" class="more-link cws_button l-float-right"ng-if="quizAction" style="margin-right: 20px">Update Quiz</p>

                                <!--/ post-cats -->
                                <div class="post_tags">
                                </div>
                                <!--/ post-tags -->
                                <div class="kids_clear"></div>
                            </div>
                        </div>



    <!-- comments block -->
    <!-- //end comments block -->
    </main>
    <div class="kids_clear"></div>
</div>
<!-- .entry-container -->
</div>
<div class="bg-level-2 second-part"></div>
</div>
<!-- ***************** - END Image floating - *************** -->
</section>
<!-- .bottom_content_container -->
</div>
<div class="content_bottom_bg"></div>
</div>
</div>
<!-- .end_content -->
<ng-include src="'./layouts/footer.view.html'"></ng-include>