<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .top-panel-->
<div class="kids-bg-level-1">
    <div class="bg-level-1"></div>
    <ng-include src="'./layouts/header.view.html'"></ng-include>

    <!-- HEADER END -->
</div>
<!-- .bg-level-1 -->
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1>Full Width</h1>
                    <ul id="breadcrumbs">
                        <li><a href="#" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                        <li><span class="current_crumb">Full Width</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main class="blog">
                                <article class="post-item" ng-repeat="report in reporting">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span class="day">3</span>
                                            <span class="month">Jan.2015</span>
                                        </div>
                                        <!--/ post-date-->
                                    </div>
                                    <!--/ post-meta-->
                                    <div class="post-entry">

                                        <div class="entry">
                                            <div class="post-title">
                                                <a href="#">{{report.description}}</a>
                                            </div>
                                            <!--/ post-title-->
                                            <p>{{report.description}} </p>
                                        </div>
                                        <!--/ entry-->
                                    </div>
                                    <!--/ post-entry -->
                                    <div class="post-footer">
                                        <span class="l-float-right"><a href="blog-single-post.html" class="more-link cws_button"> Read more </a></span>
                                        <div class="post_cats">
                                            <p><span>Category:</span><a class="link" href="#" title="View all posts in">Image</a></p>
                                        </div>
                                        <!--/ post-cats -->
                                        <div class="post_tags">
                                            <p><span>Tags:</span>
                                                <a href='#' title='Tag' class='link'>Blog</a> </p>
                                        </div>
                                        <!--/ post-tags -->
                                        <div class="kids_clear"></div>
                                    </div>
                                    <!--/ post-footer-->
                                </article>

                                <!-- comments block -->
                                <!-- //end comments block -->
                            </main>
                            <div class="kids_clear"></div>
                        </div>
                        <!-- .entry-container -->
                    </div>
                    <div class="bg-level-2 second-part"></div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>
</div>
<!-- .end_content -->

<ng-include src="'./layouts/footer.view.html'"></ng-include>