<!-- HEADER BEGIN -->
<div class="top-panel">
    <div class="l-page-width clearfix">
        <div class="wrapper">
            <div class="widget widget_cws_tweets">
                <div class='cws-widget-content '>
                    <div class="latest_tweets ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .top-panel-->
<div class="kids-bg-level-1">
    <div class="bg-level-1"></div>
    <ng-include src="'./layouts/header.view.html'"></ng-include>

    <!-- HEADER END -->
</div>
<!-- .bg-level-1 -->
<div id="kids_middle_container">
    <!-- .content -->
    <div class="kids_top_content">
        <div class="kids_top_content_middle ">
            <div class="header_container ">
                <div class="l-page-width">
                    <h1 style="float: left;padding-top: 10px;">Reviews</h1>
                    <ng-include src="'./layouts/login.view.html'"></ng-include>
                </div>
            </div>
        </div>
        <!-- .kids_top_content_middle -->
    </div>
    <div class="bg-level-2-full-width-container kids_bottom_content">
        <div class="bg-level-2-page-width-container no-padding">
            <section class="kids_bottom_content_container">
                <!-- ***************** - START Image floating - *************** -->
                <div class="page-content">
                    <div class="bg-level-2 first-part"></div>
                    <div class="container l-page-width">
                        <div class="entry-container ">
                            <main class="blog">
                                <article class="post-item">
                                    <div class="message_box success-box  close" ng-show="added"><span class="close-box"></span>
                                        <div class="message_box_header">Success</div>
                                        <p>Review has been added</p>
                                    </div><br>
                                    <!--/ post-meta-->
                                    <div class="grid-row clearfix" style="margin-top:0px;">
                                        <div class="grid-col grid-col-12">
                                            <section class="cws-widget">
                                                <section class="cws_widget_content">
                                                    <div class="cws-widget callout_widget clearfix ">
                                                        <div class="content_wrapper">
                                                            <div class="text_part">
                                                                <div class="title"><input placeholder="Search avis..." ng-model="searchingByName" style="width: 100%"></div>

                                                            </div>
                                                            <div class="button_part">
                                                                <a class="cws_button large square custom_color" style="background:#8ddd67; color:#fff;" ng-click="addrev()">Add review</a></div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        </div>
                                    </div><br>
                                    <div ng-show="addReviewAction">
                                        <div class="post-entry">

                                            <div class="entry">
                                                <div class="post-title">
                                                    <a href="#">Add a new reviews</a>
                                                </div>
                                                <!--/ post-title-->
                                                <table>
                                                    <tr>
                                                        <td>Subject</td>
                                                        <td><input type="text" ng-model="review.subject" style="width:100%"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Message</td>
                                                        <td><input type="text" ng-model="review.message" style="width:100%"></td>
                                                    </tr>


                                                </table>
                                            </div>
                                            <!--/ entry-->
                                        </div>
                                        <div class="post-footer">
                                            <span ng-click="addreview()" class="more-link cws_button l-float-right">Add Review</span>
                                            <div class="post_cats">
                                        </div>
                                    </div>
                                        <!--/ post-tags -->
                                        <div class="kids_clear"></div>
                                    </div>

                        </div>
                                    <!--/ post-entry -->

                                    <!--/ post-footer-->
                                </article>

                                <article class="post-item" ng-repeat="report in reporting |filter:searchingByName | orderBy:'$index':true">
                                    <div class="post-meta">
                                        <div class="post-date">
                                            <span style="color: white">{{report.user}}</span>
                                            <span class="month">{{report.date }}</span>
                                        </div>
                                        <!--/ post-date-->
                                    </div>
                                    <!--/ post-meta-->
                                    <div class="post-entry">

                                        <div class="entry">
                                            <div class="post-title">
                                                <a href="#">{{report.subjectReporting}}</a></br>
                                                <h5>{{report.description}}</h5></br>
                                            </div>
                                            <!--/ post-title-->

                                        </div>
                                        <!--/ entry-->
                                    </div>
                                    <!--/ post-entry -->
                                    <div class="post-footer">

                                        <p><span ng-click="likereport(report._id,'like')" style="float: right;" class="more-link cws_button" ng-hide="currentUser==report.user">Like {{report.like}}<i class="button-icon fa fa-thumbs-up" style="color:#fff"></i></span> </p>
                                        <p> <span ng-click="likereport(report._id,'dislike')" style="float: right;margin-right: 10px"class="more-link cws_button" ng-hide="currentUser==report.user">Dislike {{report.dislike}}<i class="button-icon fa fa-thumbs-down" style="color:#fff"></i></span>  </p>
                                        <p> <span ng-click="signalreport(report._id)"style="float: left;margin-right: 10px" class="more-link cws_button" ng-hide="currentUser==report.user">Signal <i class="fa fa-frown-o" aria-hidden="true"></i></span>   </p>
                                        <p> <span ng-click="updatereport(report._id)"style="float: left;margin-right: 10px" class="more-link cws_button" ng-show="currentUser==report.user">Update <i class="fa fa-refresh" aria-hidden="true"></i></span>   </p>
                                        <!--/ post-tags -->
                                        <div class="kids_clear"></div>
                                    </div>
                                        <!--/ post-footer-->
                                </article>

                                <!-- comments block -->
                                <!-- //end comments block -->
                            </main>
                            <div class="kids_clear"></div>
                        </div>
                        <!-- .entry-container -->
                    </div>
                    <div class="bg-level-2 second-part"></div>
                </div>
                <!-- ***************** - END Image floating - *************** -->
            </section>
            <!-- .bottom_content_container -->
        </div>
        <div class="content_bottom_bg"></div>
    </div>
</div>
<!-- .end_content -->

<ng-include src="'./layouts/footer.view.html'"></ng-include>